<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<%= file_field_tag :csv %><br>
<%= file_field_tag :csv %><br>
<%= file_field_tag :csv %><br>
<%= file_field_tag :csv %><br>

<%= @address1 %>
<%= @address2 %>
